.container {
	display: grid;
    background: rgb(246,246,246);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgb(150, 200, 80) 100%);
}

.header {
    display: grid;
    background-image: url("./img/header-bcg4.png");
    min-height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.motto {
    font-size: 3rem;
}

.form {
    background-color: burlywood;
    min-height: 100px;
}

.form ol li {
    display: inline;
    text-decoration: none;
    margin: 2rem;
    text-transform: uppercase;
    margin: 0 2rem;
}

.display {
    background-color: royalblue;
    min-height: 100px;
}

.main {
    background-color: darkgreen;
	min-height: 100px;
}

.main ul li {
    display: inline;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    margin: 0.5rem;
    padding: 0.2rem;
    border: 1px solid black;
}

.list1 li {
    border: 2px solid black;
    padding: 20px;
}


.footer {
    background-color: firebrick;
    min-height: 50px;
    padding: 2rem;
}

